<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Knjige</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="get">
			<table class="tabela">
				<caption>Knjige</caption>
				<tr>
					<th>r. br.</th>
					<th>naziv</th>
					<th>ISBN:</th>
					<th>Izdavacka kuca:</th>
					<th>Autor:</th>
					<th>Godina izdanja:</th>
					<th>Opis:</th>
					<th>Cena:</th>
					<th>Broj stranica:</th>
					<th>Tip poveza:</th>
					<th>Pismo:</th>
					<th>Jezik:</th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th><input type="search" name="naziv" th:value="${param.naziv}?: null"/></th>
					<th><input type="search" name="isbn" th:value="${param.ISBN}?: null"/></th>
					<th><input type="search" name="izdavackaKuca" th:value="${param.izdavackaKuca}?: null"/></th>
					<th><input type="search" name="autor" th:value="${param.autor}?: null"/></th>
					<th><input type="search" name="godinaIzdanja" th:value="${param.godinaIzdanja}?: null"/></th>
					<th><input type="search" name="opis" th:value="${param.opis}?: null"/></th>
					<th><input type="search" name="cena" th:value="${param.cena}?: null"/></th>
					<th><input type="search" name="brStranica" th:value="${param.brStranica}?: null"/></th>
					<th><input type="search" name="tipPoveza" th:value="${param.tipPoveza}?: null"/></th>
					<th><input type="search" name="pismo" th:value="${param.pismo}?: null"/></th>
					<th><input type="search" name="jezik" th:value="${param.jezik}?: null"/></th>
					
					<th><input type="submit" value="Pretraži"/></th>
				</tr>
		</form>
				<tr th:each="itKnjiga, status: ${knjige}">
					<td class="broj" th:text="${status.index + 1}"></td>
					<td><a th:href="|Knjige/Details?id=${itKnjiga.id}|" th:text="${itKnjiga.naziv}"></a></td>
					<td th:text="${itKnjiga.ISBN}"></td>
					<td th:text="${itKnjiga.izdavackaKuca}"></td>
					<td th:text="${itKnjiga.autor}"></td>
					<td th:text="${itKnjiga.godinaIzdanja}"></td>
					<td th:text="${itKnjiga.opis}"></td>
					<td th:text="${itKnjiga.cena}"></td>
					<td th:text="${itKnjiga.brStranica}"></td>
					<td th:text="${itKnjiga.tipPoveza}"></td>
					<td th:text="${itKnjiga.pismo}"></td>
					<td th:text="${itKnjiga.jezik}"></td>
					<td></td>
				<td  th:if="${session.prijavljeniKorisnik != null}">
					<form method="post" action="Kupovina" name="formaKupovina">
						<input type="number" name="ukupanBrKupljenihKnjiga"/>&nbsp;
						<input type="hidden" name="knjigaId" th:value="${itKnjiga.id}" />
						<input type="hidden" name="username" th:value="${session.prijavljeniKorisnik.username}"/>
						<input type="submit" value="Kupi knjigu"/>
					</form>
				</td>
				</tr>
			</table>
		
		<ul>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Knjige/Create">dodavanje knjige</a></li>
		</ul>
	</div>
</body>
</html>