<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Knjiga</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Knjige/Edit" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${knjiga.id}"/>
			<table class="forma">
				<caption>Knjiga</caption>
				<tr><th>naziv:</th><td><input type="text" th:value="${knjiga.naziv}" name="naziv"/></td></tr>
				<tr><th>ISBN:</th><td><input type="number" th:value="${knjiga.ISBN}" name="isbn"/></td></tr>
				<tr><th>Izdavacka kuca:</th><td><input type="text" th:value="${knjiga.izdavackaKuca}" name="izdavackaKuca"/></td></tr>
				<tr><th>Autor:</th><td><input type="text" th:value="${knjiga.autor}" name="autor"/></td></tr>
				<tr><th>Godina izdanja:</th><td><input type="number" th:value="${knjiga.godinaIzdanja}" name="godinaIzdanja"/></td></tr>
				<tr><th>Opis:</th><td><input type="text" th:value="${knjiga.opis}" name="opis"/></td></tr>
				<tr><th>Cena:</th><td><input type="number" th:value="${knjiga.cena}" name="cena"/></td></tr>
				<tr><th>Broj stranica:</th><td><input type="number" th:value="${knjiga.brStranica}" name="brStranica"/></td></tr>
				<tr><th>Tip poveza:</th><td><input type="text" th:value="${knjiga.tipPoveza}" name="tipPoveza"/></td></tr>
				<tr><th>Pismo:</th><td><input type="text" th:value="${knjiga.pismo}" name="pismo"/></td></tr>
				<tr><th>Jezik:</th><td><input type="text" th:value="${knjiga.jezik}" name="jezik"/></td></tr>
				<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
			</table>
		</form>
		<form method="post" action="Knjige/Delete" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${knjiga.id}"/>
			<table class="forma">
				<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
			</table>
		</form>
		<table class="forma" th:if="${session.prijavljeniKorisnik == null or not session.prijavljeniKorisnik.administrator}">
			<caption>Knjiga</caption>
			<tr><th>naziv:</th><td th:text="${knjiga.naziv}"></td>
			<tr><th>ISBN:</th><td th:text="${knjiga.ISBN}"></td>
			<tr><th>Izdavacka kuca:</th><td th:text="${knjiga.izdavackaKuca}"></td>
			<tr><th>Autor:</th><td th:text="${knjiga.autor}"></td>
			<tr><th>Godina izdanja:</th><td th:text="${knjiga.godinaIzdanja}"></td>
			<tr><th>Opis:</th><td th:text="${knjiga.opis}"></td>
			<tr><th>Cena:</th><td th:text="${knjiga.cena}"></td>
			<tr><th>Broj stranica:</th><td th:text="${knjiga.brStranica}"></td>
			<tr><th>Tip poveza:</th><td th:text="${knjiga.tipPoveza}"></td>
			<tr><th>Pismo:</th><td th:text="${knjiga.pismo}"></td>
			<tr><th>Jezik:</th><td th:text="${knjiga.jezik}"></td>
		</table>
	</div>
</body>
</html>