<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Korisnici</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="get">
			<table class="tabela">
				<caption>Korisnici</caption>
				<tr>
					<th>r. br.</th>
					<th>korisničko ime</th>
					<th>e-mail</th>
					<th>ime</th>
					<th>prezime</th>
					<th>datum rodjenja</th>
					<th>adresa</th>
					<th>broj telefona</th>
					<th>administrator</th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th><input type="search" name="username" th:value="${param.username}?: null"/></th>
					<th><input type="search" name="eMail" th:value="${param.Email}?: null"/></th>
					<th><input type="search" name="ime" th:value="${param.ime}?: null"/></th>
					<th><input type="search" name="prezime" th:value="${param.prezime}?: null"/></th>
					<th><input type="search" name="datumRodjenja" th:value="${param.datumRodjenja}?: null"/></th>
					<th><input type="search" name="adresa" th:value="${param.adresa}?: null"/></th>
					<th><input type="search" name="brojTelefona" th:value="${param.brojTelefona}?: null"/></th>
					
					<th><input type="checkbox" name="administrator" th:checked="${param.administrator != null}"/></th>
					<th><input type="submit" value="Pretrazi"/></th>
				</tr>
				<tr th:each="itKorisnik, status: ${korisnici}">
					<td th:value="${status.index + 1}"></td>
					<td><a th:href="|Korisnici/Details?username=${itKorisnik.username}|" th:text="${itKorisnik.username}"></a></td>
					<td th:text="${itKorisnik.Email}"></td>
					<td th:text="${itKorisnik.ime}"></td>
					<td th:text="${itKorisnik.prezime}"></td>
					<td th:text="${itKorisnik.datumRodjenja}"></td>
					<td th:text="${itKorisnik.adresa}"></td>
					<td th:text="${itKorisnik.brojTelefona}"></td>
					<td th:text="${itKorisnik.administrator}? 'da': 'ne'"></td>
					<td></td>
				</tr>
			</table>
		</form>
		<ul>
			<li><a href="Korisnici/Create">dodavanje korisnika</a></li>
		</ul>
	</div>
</body>
</html>