<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Korisnik</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Korisnici/Edit">
			<input type="hidden" name="username" th:value="${korisnik.username}"/>
			<table class="forma">
				<caption>Korisnik</caption>
				<tr><th>korisničko ime:</th><td th:text="${korisnik.username}"></td></tr>
				<tr><th>lozinka:</th><td><input type="password" name="password"/></td></tr>
				<tr><th>e-mail:</th><td><input type="text" name="eMail" th:value="${korisnik.Email}"/></td></tr>
				<tr><th>ime:</th><td><input type="text" name="ime" th:value="${korisnik.ime}"/></td></tr>
				<tr><th>prezime:</th><td><input type="text" name="prezime" th:value="${korisnik.prezime}"/></td></tr>
				<tr><th>datum rodjenja:</th><td><input type="text" name="datumRodjenja" th:value="${korisnik.datumRodjenja}"/></td></tr>
				<tr><th>adresa:</th><td><input type="text" name="adresa" th:value="${korisnik.adresa}"/></td></tr>
				<tr><th>broj telefona:</th><td><input type="number" name="brojTelefona" th:value="${korisnik.brojTelefona}"/></td></tr>
				
				<tr th:if="${session.prijavljeniKorisnik.administrator and session.prijavljeniKorisnik != korisnik}"><th>administrator:</th><td><input type="checkbox" name="administrator" th:checked="${korisnik.administrator}"/></td></tr>
				<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
			</table>
		</form>
		<form method="post" action="Korisnici/Delete">
			<input type="hidden" name="username" th:value="${korisnik.username}"/>
			<table class="forma">
				<tr><th></th><td><input type="submit" value="Obrisi"/></td></tr>
			</table>
		</form>
	</div>
</body>
</html>