<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Knjige</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<table class="tabela">
			<caption>Kupljene knjige</caption>
			<tr>
				<th>r. br.</th>
				<th>Knjiga</th>
				<th>Broj primeraka</th>
				<th>Cena knjige</th>
			</tr>
			<tr th:each="itKupljenaKnjiga, status: ${kupljenaKnjiga}">
				<td class="broj" th:text="${status.index + 1}"></td>
				<td><a th:href="|Knjige/Details?id=${itKupljenaKnjiga.knjiga.id}|" th:text="${itKupljenaKnjiga.knjiga.naziv}"></a></td>
				<td class="broj" th:text="${itKupljenaKnjiga.brPrimeraka}"></td>
				<td class="broj" th:text="|${itKupljenaKnjiga.cena} rsd|"></td>
			</tr>
		</table>
	</div>
</body>
</html>