<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Kupovina</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<table class="tabela">
			<caption>Kupovina</caption>
			<tr>
				<th>r. br.</th>
				<th>Datum kupovine</th>
				<th>Korisnik</th>
				<th>Ukupna cena</th>
				<th>Ukupan br kupljenih knjiga</th>
			</tr>
			<tr th:each="itKupovina, status: ${kupovina}">
				<td class="broj" th:text="${status.index + 1}"></td>
				<td class="broj" th:text="${itKupovina.datumKupovine}"></td>
				<td><a th:href="|Korisnici/Details?id=${itKupovina.korisnik.id}|" th:text="${itKupovina.korisnik.username}"></a></td>
				<td class="broj" th:text="${itKupovina.ukupnaCena} rsd|"></td>
				<td class="broj" th:text="|${itKupovina.ukupanBrKupljenihKnjiga}"></td>
			</tr>
		</table>
	</div>
</body>
</html>