<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Registracija</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="/KnjizaraGolub/Korisnici/Register">
			<table class="forma">
				<caption>Registracija</caption>
				<tr><th>korisnicko ime:</th><td><input type="text" name="username"/></td></tr>
				<tr><th>lozinka:</th><td><input type="password" name="password"/></td></tr>
				<tr><th>ponovljena lozinka:</th><td><input type="password" name="ponovljenaLozinka"/></td></tr>
				<tr><th>e-mail:</th><td><input type="text" name="eMail"/></td></tr>
				<tr><th>ime:</th><td><input type="text" name="ime"/></td></tr>
				<tr><th>prezime:</th><td><input type="text" name="prezime"/></td></tr>
				<tr><th>datum rodjenja:</th><td><input type="text" name="datumRodjenja"/></td></tr>
				<tr><th>adresa:</th><td><input type="text" name="adresa"/></td></tr>
				<tr><th>broj telefona:</th><td><input type="text" name="brojTelefona"/></td></tr>
				<tr><th></th><td><input type="submit" value="Registracija"/></td></tr>
			</table>
		</form>
		<p class="greska" th:text="${poruka}"></p>
	</div>
</body>
</html>