<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Zanr</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Zanrovi/Edit" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${zanr.id}">
			<table class="forma">
				<caption>Zanr</caption>
				<tr><th>ime:</th><td><input type="text" th:value="${zanr.ime}" name="ime"/></td></tr>
				<tr><th>opis:</th><td><input type="text" th:value="${zanr.opis}" name="opis"/></td></tr>
				<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
			</table>
		</form>
		<form method="post" action="Zanrovi/Delete" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${zanr.id}">
			<table class="forma">
				<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
			</table>
		</form>
		<table class="forma" th:if="${session.prijavljeniKorisnik == null or not session.prijavljeniKorisnik.administrator}">
			<caption>Zanr</caption>
			<tr><th>ime:</th><td th:text=${zanr.ime}>autobiografija</td>
			<tr><th>opis:</th><td th:text=${zanr.opis}>oblik biografije pisan u prvom licu</td>
		</table>
	</div>
</body>
</html>