<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Zanrovi</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="get">
			<table class="tabela">
				<caption>Zanrovi</caption>
				<tr>
					<th>r. br.</th>
					<th>ime</th>
					<th>opis</th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th><input type="search" name="ime" th:value="${param.ime?: null}"/></th>
					<th><input type="search" name="opis" th:value="${param.opis?: null}"/></th>
					<th><input type="submit" value="Pretrazi"/></th>
				</tr>
				<tr th:each="itZanr, status: ${zanrovi}">
					<td th:text="${status.index + 1}">1</td>
					<td><a th:href="|Zanrovi/Details?id=${itZanr.id}|" th:text="${itZanr.ime}">autobiografija</a></td>
					<td th:text="${itZanr.opis}"></td>
				</tr>
			</table>
		</form>
		<ul>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Zanrovi/Create">dodavanje žanra</a></li>
		</ul>
	</div>
</body>
</html>