<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
	<title th:text="#{general.pageTitle}"></title>
</head>
<body>
	<div th:fragment="header" style="float:right">
		<span style="color: white; background-color: DodgerBlue">Fragment deo header</span>
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales" th:with="jezik=${#locale.language}">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(jezik,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(jezik,'sr')}"></option>
		</select>
	</div>
	<h2 th:text="#{general.heading}"></h2>
	
	<footer th:fragment="footer">
		<p style="color: white; background-color: DodgerBlue">Fragment deo footer</p>
		<ul>
			<li><a href="Zanrovi" th:text="#{general.genres}"></a></li>
			<li><a href="Knjige" th:text="#{general.books}"></a></li>
			<li><a href="KupljenaKnjiga" th:text="#{general.buy}"></a></li>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnici">korisnici</a></li>
		</ul>
	</footer>
</body>
</html>